## 1. Swap two no.

In [ ]:
a = int(input("enter a number "))
b = int(input("enter a number "))
print(f"value of no. a = {a} before swapping")
print(f"value of no. b = {b} before swapping")

#Approach 1
temp = a
a = b
b = temp 
'''
# Approach 2 
a,b = b,a
'''

print(f"value of no. a = {a} after swapping ")
print(f"value of no. b = {b} after swapping")

enter a number 5
enter a number 8
value of no. a = 5 before swapping
value of no. b = 8 before swapping
value of no. a = 8 after swapping
value of no. b = 5 after swapping

## 2. Prime no or not

In [ ]:
num = int(input("enter a no. "))
count = 0

if num>1:
    for i in range(1,num+1):
        if num%i == 0:
            count = count + 1
    if count==2:
        print(f"{num} is prime no.")
    else:
        print(f"{num} is not prime no.")

enter a no. 7
7 is prime no.

## 3. Factorial of a no.
5! = 1 * 2 * 3 * 4 * 5

factorial using loop

In [ ]:
num = int(input("enter a no. "))
fact = 1
if num<0:
    print("factorial doesn't exist")
elif num == 0:
    print(f"Factorial of {num} is {fact}")  

else:
    for i in range(1,num+1):
        fact = i*fact
    print(f"Factorial of {num} is {fact}")

enter a no. 4
Factorial of 4 is 24

factorial using recursion : 5! = 5 * 4 * 3 * 2 * 1

In [ ]:
num = int(input("enter a no. "))
fact = 1

def fact(num):
    if num<=1:    #base condition
        return 1
    else:    
        return num*fact(num-1)
'''
or using ternary approach
  return 1 if (num == 1 or num ==0) else return num*fact(num-1)
'''       

print(f"Factorial of {num} is {fact(num)}")

enter a no. 4
Factorial of 4 is 24

## 4. Fibonacci series: 0 1 1 2 3 5 8 13 21 ...

Approach 1: using loop

In [ ]:
num = int(input("enter no. of terms for fibonacci series "))
a=0
b=1

print(f"{a}\n{b}")
for i in range(2,num):
    c = a+b
    print(f"{c}")
    a=b
    b=c

enter no. of terms for fibonacci series 5
0
1
1
2
3

Approach 2: using recursion

In [ ]:
num = int(input("enter no. of terms for fibonacci series "))
first = 0
second = 1

def fib(num):
    if (num == 0):   #base condition 
        return 0
    elif (num == 1): #base condition
         return 1 
    else:  
        return fib(num-1) + fib(num-2)
print(f"Fibonacci term: {fib(num-1)}")#(num-1) because series starts from 0 so till n-1 just like in range
for i in range(0,num):
    print(fib(i))

enter no. of terms for fibonacci series 5
Fibonacci term: 3
0
1
1
2
3

## 5. Get a list as input from user

In [ ]:
# creating an empty list
lst = []
  
# number of elements as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    ele = int(input())
    lst.append(ele) # adding the element
      
print(lst)

Enter number of elements : 4
2
4
6
8
[2, 4, 6, 8]

In [ ]:
lst = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)
print(lst)

enter no. of elements: 5
1
2
3
4
5
[1, 2, 3, 4, 5]

## 6. Sum of elements of array/list

Approach 1: using loop

In [ ]:
ar1 = [2,4,6,8]
sum = 0
for i in range(0,len(ar1)):
    sum = ar1[i] + sum
print(f"Sum of elements is {sum}")

Sum of elements is 20

In [ ]:
lst = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)
print(f"Array/list is {lst}")
sum = 0

for i in range(0,n):
    sum = lst[i] + sum
    
print(f"Sum of elements is {sum}")

enter no. of elements: 4
1
2
3
4
Array/list is [1, 2, 3, 4]
Sum of elements is 10

## 7. Maximum & Minimum element in an array/list
Max

In [ ]:
arr = [2,4,15,8,3]
max = arr[0]

for i in range(0,len(arr)):
    if arr[i]>max:
        max=arr[i]
        
print(f"Max element is {max}")

Max element is 15

Min

In [ ]:
arr = [2,4,15,8,3]
min = arr[0]
for i in range(0,len(arr)):
    if arr[i]<min:
        min=arr[i]
print(f"Min element is {min}")

Min element is 2

### Maximum & minimum in a single program

Approach 1: using sorting ;
sort the list in ascending order and print 1st & last element

In [ ]:
arr = [2,4,15,8,3]
arr.sort()   # sorting
print(f"Min element is {arr[0]}")
print(f"Max element is {arr[-1]}")

Min element is 2
Max element is 15

Approach 2: using min() & max() method

In [ ]:
print(f"Min element is {min(arr)}")
print(f"Max element is {max(arr)}")

Min element is 2
Max element is 15

## 8. Length of a list

approach 1

In [ ]:
lst = [1,5,6,7,9,4,2]
count = 0

for i in lst:
    count = count + 1
    
print(f"Length of list: {count}")

Length of list: 7

approach 2: using len() built in function

In [ ]:
print(f"Length of list: {len(lst)}")

Length of list: 7

## 9. Swap first & last element of list/array
approach 1

In [ ]:
arr = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele =int(input())
    arr.append(ele)
print(arr)    
temp = 0

temp = arr[0]  # index starts from 0
arr[0] = arr[n-1]
arr[n-1] = temp

print(f"After swapping: {arr}")

enter no. of elements: 4
1
2
3
4
[1, 2, 3, 4]
After swapping: [4, 2, 3, 1]

approach 2

In [ ]:
arr = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele =int(input())
    arr.append(ele)
print(arr)    

arr[0],arr[n-1] = arr[n-1],arr[0]

print(f"After swapping: {arr}")

enter no. of elements: 3
1
2
3
[1, 2, 3]
After swapping: [3, 2, 1]

approach 3: using tuple variable

In [ ]:
mylist = [1,5,6,7,9,4,2]

get = (mylist[-1],mylist[0]) # packing 
mylist[0],mylist[-1] = get

print(f"After swapping: {mylist}")

After swapping: [2, 5, 6, 7, 9, 4, 1]

approach 4: using * operand

In [ ]:
mylist = [1,5,6,7,9,4,2]
first,*middle,last = mylist #break into 3 different variables using * operand
mylist = [last,*middle,first] #swap first & last element

print(f"After swapping: {mylist}")

After swapping: [2, 5, 6, 7, 9, 4, 1]

approach 5: using pop() built in function

In [ ]:
mylist = [1,5,6,7,9,4,2]

first = mylist.pop(0)
last = mylist.pop(-1)

mylist.insert(0,last)# 0 is the index where element is to be addded #inserting last element at first 
mylist.append(first) #appending first element to the last

print(f"After swapping: {mylist}")

After swapping: [2, 5, 6, 7, 9, 4, 1]

## 10. Swap any two elements in a list
Input : List = [23, 65, 19, 90] posl = 1, pos2 =3

Output : [19, 65, 23, 90]


using list.pop() func

In [ ]:
lst = [23, 65, 19, 90]
pos1 = int(input("enter pos1: "))
pos2 = int(input("enter pos2: "))

first_ele = lst.pop(pos1) # element is popped out
sec_ele = lst.pop(pos2 - 1) # now list has n-1 elements 

lst.insert(pos1,sec_ele)
lst.insert(pos2,first_ele)

print(lst)

enter pos1: 2
enter pos2: 3
[23, 65, 90, 19]

## 11. Remove Nth occurrence of the given word
• Input: list = ["geeks", "for", "geeks"]
  word = geeks, N = 2

• Output: list = ["geeks", "for"]

In [ ]:
mylst = ["geeks","for","geeks"]
word = "geeks"
n=2
count = 0

for i in range(0,len(mylst)):
    if (mylst[i] == word):
        count = count+1
        if (count == n):
            del(mylst[i]) 
            
print(f"updated list: {mylst}")

updated list: ['geeks', 'for']

## 12. Search an element in a list
appraoch 1: using loop

In [ ]:
mylist = [1,6,3,5,3,4]
n = int(input("enter no. for search: "))
count = 0

for i in mylist:
    if i == n:    
        count = count + 1
if(count >= 1):
    print(f"Element found & appeared {count} times")
else:
    print("Element not found")

enter no. for search: 6
Element found & appeared 1 times

approach 2: using in operator

In [ ]:
 if (n in mylist):
     print(f"Element found & appeared {count} times")
 else:
     print("element not found")

Element found & appeared 1 times

## 13. How to clear a list

Approach 1: using clear() method

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
mylist.clear()
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

Approach 2: Initialise the list with no value

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
mylist = []
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

Approach 3: Using "*= 0" this method removes all elements of the List and makes it empty.

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
mylist *= 0
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

Approach 4: using del() method, slicing

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
del mylist[:] # deletes all the elements
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

## 14.  To Remove empty List from List

In [1]:
# Approach 1: using append() method
lst3 = [34,[],7,9,12,[],46]
new_lst3 = []

for i in lst3:
    if i != []: # If empty list is not there add into new list
        new_lst3.append(i)
print(new_lst3)

[34, 7, 9, 12, 46]

In [2]:
# Approach 2: using remove() method
lst3 = [34,[],7,9,12,[],46]
new_lst3 = []
# Remove empty List from List
while [] in lst3 :
    lst3.remove([])
print(lst3)

[34, 7, 9, 12, 46]

In [3]:
# Approach 3: if list within list has 0 length then remove it
lst3 = [34,[],7,[6,2],9,[],46]

for i in lst3:
    if type(i) == list:
        if len(i) == 0:
            lst3.remove([])
print(lst3)

[34, 7, [6, 2], 9, 46]

## 15. Reverse a list/array/string
i/p = [10,11,12,13,14,15]  
o/p = [15,14,13,12,11,10]

Approach 1: using slicing [ : : -1 ]

In [ ]:
lst = [10,11,12,13,14,15]
lst[::-1]

[15, 14, 13, 12, 11, 10]

Approach 2: using reverse() method

In [ ]:
lst = [10,11,12,13,14,15]
print(f"Before reverse:{lst}")
rev = lst.reverse()
print(f"After reverse: {lst}")

Before reverse:[10, 11, 12, 13, 14, 15]
After reverse: [15, 14, 13, 12, 11, 10]

Approach 3: using loop; c++ array; used for reversing individual elements

In [ ]:
arr = [10,12,15,18,25,35]
n = len(arr)
rev = [] # creating an empty list to add reverse element 

for i in range(0,n):
    ele = arr[n-1]  # putting last element to "ele" variable &  
    rev.append(ele) # then appending to new "rev" list
    n=n-1           # decreasing the value of n so to access 2nd,3rd last element 
                    # & so on...  from the "arr" list
print(rev)

[35, 25, 18, 15, 12, 10]

In [ ]:
# reverse a list in different way
list(reversed(range(1,11))) # in range only

## 16. Reverse words of a string 
eg: str = "Welcome to python program" 
    
 o/p: "program python to Welcome "

Approach 1: splitting the string on the basis of "space" separation so they converted to individual elements in list then reversing them & converting list to string using loop

In [ ]:
arr = "Welcome to python program"
arr_new = arr.split(" ")    # splitting the string 
rev = arr_new[::-1]         # reversing the list: ['program', 'python', 'to', 'Welcome']
stg = ""                    # creating empty string
for ele in rev:             # adding elements in list to an empty string
    stg = stg + ele + " " 

print(f"Reversed words of string: {stg}")

Reversed words of string: program python to Welcome

Approach 2: same concept as above but using **join()**

In [ ]:
arr = "Welcome to python program"
arr_new = arr.split(" ")    # splitting the string 
rev = arr_new[::-1]         # reversing the list: ['program', 'python', 'to', 'Welcome']
stg = " ".join(rev)

print(f"Reversed words of string: {stg}")

Reversed words of string: program python to Welcome

## 17. Reverse a no.

Approach 1: using loop

In [ ]:
dig = int(input("enter digit of a no: "))
num = int(input("enter a no: "))
rev = 0

for i in range(0,dig):
    rem = num%10        # accessing last digit of the number
    rev = rev*10 + rem  # eg: 123 -> 3 -> 3x10 + 2 = 32 -> 32x10 + 1 = 321 
    num = num//10
print(f"Reverse of num: {rev}")    

# **using while loop**
# while(num!=0):
#    rem = num%10  
#    rev = rev*10 + rem 
#    num = int(num/10)

enter digit of a no: 3
enter a no: 123
Reverse of num: 321

Approach 2: using **recursion**

In [ ]:
n = int(input("enter no: "))
rev = 0    

def reverse(n):
    global rev
    if(n==0):       # base condition
        return rev
    else: 
        rev = rev*10 + n%10    
        return reverse(n//10)

print(f"Reverse is: {reverse(n)}")

#def reverse(n):
#    global rev
#    if (n>0):
#        rev = rev*10 + n%10
#        reverse(n//10)
#    return rev

enter no: 5
Reverse is: 5

## 18. Palindrome no. 121 1441 1223221 111
Approach 1: using loop

In [ ]:
dig = int(input("enter digit of a no: "))
n = int(input("enter a num: "))
temp = n # putting n value to temp variable as n value changes while performing loop
rev = 0
for i in range(0,dig):
    rem = n%10
    rev = rev*10 + rem
    n = n//10

if (temp==rev):
    print("yes palindrome")
else:
    print("not a palindrome")

enter digit of a no: 3
enter a num: 121
yes palindrome

## 19. Clone or copy a list/array
i/p: [4,8,2,10,15,18]   
o/p: [4,8,2,10,15,18]

Approach 1:using slicing technique

In [ ]:
lst = [4,8,2,10,15,18] 
lstcopy = lst[:]   
print(lstcopy)

[4, 8, 2, 10, 15, 18]

Approach 2: using extend() method

In [ ]:
lst = [4,8,2,10,15,18] 
lstcopy = []
lstcopy.extend(lst) # append or extend to the empty list
print(lstcopy)

[4, 8, 2, 10, 15, 18]

Approach 3:using list() method

In [ ]:
lst = [4,8,2,10,15,18]
lstcopy = list(lst)
print(lstcopy)

[4, 8, 2, 10, 15, 18]

Approach 4: using copy() method

In [ ]:
lst = [4,8,2,10,15,18]
lstcopy = lst.copy()
print(lstcopy)

[4, 8, 2, 10, 15, 18]

Approach 5: using list comprehension

In [ ]:
lst = [4,8,2,10,15,18]
lstcopy = [i for i in lst]  # i is added to lstcopy & other is looping statement
print(f"copy list: {lstcopy}")

copy list: [4, 8, 2, 10, 15, 18]

## 20. Count occurences of an element in a list/array
i/p: [15 , 6 , 7 , 10 , 12 , 20 , 10 , 28 , 10]      x = 10

o/p: 3   
10 appears 3 times in list

Approach 1: using loop

In [ ]:
lst = [15,6,7,10,12,20,10,28,10]
num = int(input("enter num for checking count: "))
count = 0

for i in range(0, len(lst)):
    if (lst[i] == num):
        count = count+1
if count>0:
    print(f"{num} appears {count} times in list")
else:
    print("number not in list")

# for ele in lst: 
#     if (ele == num):
#         count = count + 1
# print(f"{num} appears {count} times in list")

enter num for checking count: 10
10 appears 3 times in list

Approach 2: using count() method

In [ ]:
lst = [15,6,7,10,12,20,10,28,10]
num = int(input("enter num for checking count: "))

count = lst.count(num)

print(f"{num} appears {count} times in list")

enter num for checking count: 10
10 appears 3 times in list

Approach 3: using counter() method

In [ ]:
lst = [15,6,7,10,12,20,10,28,10]
num = int(input("enter num for checking count: "))
from collections import Counter
dic = Counter(lst)   # it will return a dictionary variable: {element:count}
                     # eg: {5:1,6:1,7:1,10:3....}               key : value
print(f"{num} appears {dic[num]} times in list")
print(dic)

enter num for checking count: 12
12 appears 1 times in list
Counter({10: 3, 15: 1, 6: 1, 7: 1, 12: 1, 20: 1, 28: 1})

## 21. Multiply all numbers in the list

Approach 1: using loop

In [ ]:
lst = [3,2,4]
mul = 1

for i in range(0,len(lst)):
    mul = mul*lst[i]

print(f"Mutiple of list: {mul}")    

# or 
# for i in lst:
#    mul = mul*i

Mutiple of list: 24

Approach 2: using numpy.product()

In [ ]:
import numpy as np

lst = [3,2,4]
np.prod(lst)

24

## 22. Find 2nd largest no. in list
Approach 1: using sort()

In [ ]:
lst = [10,20,4,45,99]
lst.sort() # sorting
print(f"2nd largest no: {lst[-2]}") #accessing 2nd last no

2nd largest no: 45

Approach 2: using extract; remove largest no from the list and then print largest from the new list

In [ ]:
lst = [10,20,4,45,99]
lst.remove(max(lst)) # removing maximum from list
print(max(lst))    # then printing max element from list, is the 2nd max no. in list

45

Approach 3: using loop

In [ ]:
arr = [2,5,15,4,18]
max1 = arr[0]
max2 = 0
for i in range(0,len(arr)):
    if (max1<arr[i]):
        max2=max1
        max1=arr[i]
    if (max2<arr[i] and arr[i]<max1):
        max2=arr[i]
        
print(f"2nd largest element: {max2}")

2nd largest element: 15

## 23. Palindrome string
eg: madam - Palindrome                            
welcome - not palindrome

Approach 1: using string slicing

In [ ]:
stg = input("enter character: ")  # find reverse of string; check if reverse = original 
rev = stg[::-1]  # reverse of string
if (rev == stg):  # checking if reverse is same as original
    print("palindrome")
else:
    print("not palindrome")

enter character: maam
palindrome

## 24. Find substring present in a string
str = "welcome to python programming"

sub_str = "python"

Approach 1: using find() method; find() method finds first occurence of the specified value. it returns -1 if the value is not found

In [3]:
strg = "welcome to python programming"
sub_str = "python"
# print(strg.find(sub_str))  # returns the position of the string in main string

if (strg.find(sub_str) == -1):
    print(f"Substring not found")
else:
    print(f"Substring found & present at {strg.find(sub_str)} position")

Substring found & present at 11 position

## 25. Length of string
i/p: welcome
o/p: 7

Approach 1: using loop

In [8]:
stg = "welcome"
count= 0

for i in range(0, len(stg)):
    count = count+1

print(f"Length of string: {count}")

Length of string: 7

Approach 2: using while loop & slicing

In [13]:
stg = "welcome"
count = 0

while stg[count:] :
    count = count + 1

print(f"Length of string: {count}")

Length of string: 7

Approach 3: using len() method

In [15]:
stg = "welcome"
print(f"Length of string: {len(stg)}")

Length of string: 7

Approach 4: using join() & count

In [29]:
stg = "welcome"
random_stg = 'x'

#print(random_stg.join(stg)) # returns: wxexlxcxoxmxe 
print((random_stg.join(stg)).count(random_stg)+1) #prints no of x present in string

7

## 26. Check if string contains special character
i/p: "welcome@@2to%%python**program@!!"

o/p: "welcome to python program"

In [34]:
import re # regular expression package
stg = "welcome@@2to%%python**program@!!"
regex = re.compile('[!@#$%^&*{}~]') #list out all the special character using regular expression

if regex.search(stg) == None: 
    print("no special character present in string")
else:
    print("yes, speacial character present")

yes

## 27. Check for URL in a string

In [3]:
import re #urlregex.com
stg = "I have a website: http://www.google.com/"
url = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',stg)

print(url)

['http://www.google.com/']