## 1. Swap two no.

In [ ]:
a = int(input("enter a number "))
b = int(input("enter a number "))
print(f"value of no. a = {a} before swapping")
print(f"value of no. b = {b} before swapping")

#Approach 1
temp = a
a = b
b = temp 
'''
# Approach 2 
a,b = b,a
'''

print(f"value of no. a = {a} after swapping ")
print(f"value of no. b = {b} after swapping")

enter a number 5
enter a number 8
value of no. a = 5 before swapping
value of no. b = 8 before swapping
value of no. a = 8 after swapping
value of no. b = 5 after swapping

## 2. Prime no or not

In [ ]:
num = int(input("enter a no. "))
count = 0

if num>1:
    for i in range(1,num+1):
        if num%i == 0:
            count = count + 1
    if count==2:
        print(f"{num} is prime no.")
    else:
        print(f"{num} is not prime no.")

enter a no. 7
7 is prime no.

## 3. Factorial of a no.
5! = 1 * 2 * 3 * 4 * 5

factorial using loop

In [ ]:
num = int(input("enter a no. "))
fact = 1
if num<0:
    print("factorial doesn't exist")
elif num == 0:
    print(f"Factorial of {num} is {fact}")  

else:
    for i in range(1,num+1):
        fact = i*fact
    print(f"Factorial of {num} is {fact}")

enter a no. 4
Factorial of 4 is 24

factorial using recursion : 5! = 5 * 4 * 3 * 2 * 1

In [ ]:
num = int(input("enter a no. "))
fact = 1

def fact(num):
    if num<=1:    #base condition
        return 1
    else:    
        return num*fact(num-1)
'''
or using ternary approach
  return 1 if (num == 1 or num ==0) else return num*fact(num-1)
'''       

print(f"Factorial of {num} is {fact(num)}")

enter a no. 4
Factorial of 4 is 24

## 4. Fibonacci series: 0 1 1 2 3 5 8 13 21 ...

Approach 1: using loop

In [ ]:
num = int(input("enter no. of terms for fibonacci series "))
a=0
b=1

print(f"{a}\n{b}")
for i in range(2,num):
    c = a+b
    print(f"{c}")
    a=b
    b=c

enter no. of terms for fibonacci series 5
0
1
1
2
3

Approach 2: using recursion

In [45]:
num = int(input("enter no. of terms for fibonacci series "))
first = 0
second = 1

def fib(num):
    if (num == 0):   #base condition 
        return 0
    elif (num == 1): #base condition
         return 1 
    else:  
        return fib(num-1) + fib(num-2)
print(f"Fibonacci term: {fib(num-1)}")#(num-1) because series starts from 0 so till n-1 just like in range
for i in range(0,num):
    print(fib(i))

enter no. of terms for fibonacci series 5
Fibonacci term: 3
0
1
1
2
3

## 5. Get a list as input from user

In [ ]:
# creating an empty list
lst = []
  
# number of elements as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    ele = int(input())
    lst.append(ele) # adding the element
      
print(lst)

Enter number of elements : 4
2
4
6
8
[2, 4, 6, 8]

In [ ]:
lst = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)
print(lst)

enter no. of elements: 5
1
2
3
4
5
[1, 2, 3, 4, 5]

## 6. Sum of elements of array/list

In [ ]:
ar1 = [2,4,6,8]
sum = 0
for i in range(0,len(ar1)):
    sum = ar1[i] + sum
print(f"Sum of elements is {sum}")

Sum of elements is 20

In [ ]:
lst = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)
print(f"Array/list is {lst}")
sum = 0

for i in range(0,n):
    sum = lst[i] + sum
    
print(f"Sum of elements is {sum}")

enter no. of elements: 4
1
2
3
4
Array/list is [1, 2, 3, 4]
Sum of elements is 10

## 7. Maximum & Minimum element in an array/list
Max

In [ ]:
arr = [2,4,15,8,3]
max = arr[0]

for i in range(0,len(arr)):
    if arr[i]>max:
        max=arr[i]
        
print(f"Max element is {max}")

Max element is 15

Min

In [ ]:
arr = [2,4,15,8,3]
min = arr[0]
for i in range(0,len(arr)):
    if arr[i]<min:
        min=arr[i]
print(f"Min element is {min}")

Min element is 2

## 8. Length of a list

approach 1

In [ ]:
lst = [1,5,6,7,9,4,2]
count = 0

for i in lst:
    count = count + 1
    
print(f"Length of list: {count}")

Length of list: 7

approach 2: using len() built in function

In [ ]:
print(f"Length of list: {len(lst)}")

Length of list: 7

## 8. Swap first & last element of list/array
approach 1

In [ ]:
arr = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele =int(input())
    arr.append(ele)
print(arr)    
temp = 0

temp = arr[0]  # index starts from 0
arr[0] = arr[n-1]
arr[n-1] = temp

print(f"After swapping: {arr}")

enter no. of elements: 4
1
2
3
4
[1, 2, 3, 4]
After swapping: [4, 2, 3, 1]

approach 2

In [ ]:
arr = []
n = int(input("enter no. of elements: "))
for i in range(0,n):
    ele =int(input())
    arr.append(ele)
print(arr)    

arr[0],arr[n-1] = arr[n-1],arr[0]

print(f"After swapping: {arr}")

enter no. of elements: 3
1
2
3
[1, 2, 3]
After swapping: [3, 2, 1]

approach 3: using tuple variable

In [ ]:
mylist = [1,5,6,7,9,4,2]

get = (mylist[-1],mylist[0]) # packing 
mylist[0],mylist[-1] = get

print(f"After swapping: {mylist}")

After swapping: [2, 5, 6, 7, 9, 4, 1]

approach 4: using * operand

In [ ]:
mylist = [1,5,6,7,9,4,2]
first,*middle,last = mylist #break into 3 different variables using * operand
mylist = [last,*middle,first] #swap first & last element

print(f"After swapping: {mylist}")

After swapping: [2, 5, 6, 7, 9, 4, 1]

approach 5: using pop() built in function

In [ ]:
mylist = [1,5,6,7,9,4,2]

first = mylist.pop(0)
last = mylist.pop(-1)

mylist.insert(0,last)# 0 is the index where element is to be addded #inserting last element at first 
mylist.append(first) #appending first element to the last

print(f"After swapping: {mylist}")

After swapping: [2, 5, 6, 7, 9, 4, 1]

## 9. Swap any two elements in a list
Input : List = [23, 65, 19, 90] posl = 1, pos2 =3

Output : [19, 65, 23, 90]


using list.pop() func

In [ ]:
lst = [23, 65, 19, 90]
pos1 = int(input("enter pos1: "))
pos2 = int(input("enter pos2: "))

first_ele = lst.pop(pos1) # element is popped out
sec_ele = lst.pop(pos2 - 1) # now list has n-1 elements 

lst.insert(pos1,sec_ele)
lst.insert(pos2,first_ele)

print(lst)

enter pos1: 2
enter pos2: 3
[23, 65, 90, 19]

## 10. Remove Nth occurrence of the given word
• Input: list = ["geeks", "for", "geeks"]
  word = geeks, N = 2

• Output: list = ["geeks", "for"]

In [ ]:
mylst = ["geeks","for","geeks"]
word = "geeks"
n=2
count = 0

for i in range(0,len(mylst)):
    if (mylst[i] == word):
        count = count+1
        if (count == n):
            del(mylst[i]) 
            
print(f"updated list: {mylst}")

updated list: ['geeks', 'for']

## 11. Search an element in a list
appraoch 1: using loop

In [ ]:
mylist = [1,6,3,5,3,4]
n = int(input("enter no. for search: "))
count = 0

for i in mylist:
    if i == n:    
        count = count + 1
if(count >= 1):
    print(f"Element found & appeared {count} times")
else:
    print("Element not found")

enter no. for search: 6
Element found & appeared 1 times

approach 2: using in operator

In [ ]:
 if (n in mylist):
     print(f"Element found & appeared {count} times")
 else:
     print("element not found")

Element found & appeared 1 times

## 12. How to clear a list

Approach 1: using clear() method

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
mylist.clear()
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

Approach 2: Initialise the list with no value

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
mylist = []
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

Approach 3: Using "*= 0" this method removes all elements of the List and makes it empty.

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
mylist *= 0
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

Approach 4: using del() method, slicing

In [ ]:
mylist = [6,0,4,1]
print(f"List before clear: {mylist}")
del mylist[:] # deletes all the elements
print(f"List after clear: {mylist}")

List before clear: [6, 0, 4, 1]
List after clear: []

## 14. Reverse a list/array/string
i/p = [10,11,12,13,14,15]  
o/p = [15,14,13,12,11,10]

approach 1: using slicing [ : : -1 ]

In [ ]:
lst = [10,11,12,13,14,15]
lst[::-1]

[15, 14, 13, 12, 11, 10]

Approach 2: using reverse() method

In [ ]:
lst = [10,11,12,13,14,15]
print(f"Before reverse:{lst}")
rev = lst.reverse()
print(f"After reverse: {lst}")

Before reverse:[10, 11, 12, 13, 14, 15]
After reverse: [15, 14, 13, 12, 11, 10]

## 15. Reverse a no.

Approach 1: using loop

In [ ]:
dig = int(input("enter digit of a no: "))
num = int(input("enter a no: "))
rev = 0

for i in range(0,dig):
    rem = num%10        # accessing last digit of the number
    rev = rev*10 + rem  # eg: 123 -> 3 -> 3x10 + 2 = 32 -> 32x10 + 1 = 321 
    num = num//10
print(f"Reverse of num: {rev}")    

# **using while loop**
# while(num!=0):
#    rem = num%10  
#    rev = rev*10 + rem 
#    num = int(num/10)

enter digit of a no: 3
enter a no: 123
Reverse of num: 321

Approach 2: using **recursion**

In [29]:
n = int(input("enter no: "))
rev = 0    

def reverse(n):
    global rev
    if(n==0):       # base condition
        return rev
    else: 
        rev = rev*10 + n%10    
        return reverse(n//10)

print(f"Reverse is: {reverse(n)}")

#def reverse(n):
#    global rev
#    if (n>0):
#        rev = rev*10 + n%10
#        reverse(n//10)
#    return rev

enter no: 5
Reverse is: 5

## Palindrome no. 121 1441 1223221 111
Approach 1: using loop

In [58]:
dig = int(input("enter digit of a no: "))
n = int(input("enter a num: "))
temp = n # putting n value to temp variable as n value changes while performing loop
rev = 0
for i in range(0,dig):
    rem = n%10
    rev = rev*10 + rem
    n = n//10

if (temp==rev):
    print("yes palindrome")
else:
    print("not a palindrome")

enter digit of a no: 3
enter a num: 121
yes palindrome